.infoBar {
    -fx-background-color: #6969f5;
    -fx-padding: 10px 50px;
    -fx-border-color: #FFD700;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.window {
    -fx-background-color: #6969f5;
    -fx-padding: 10px;
    -fx-border-color: #FFD700;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

/* default tile style*/
.tile {
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-style: solid;
    -fx-border-width: 0px;
}

/* castle door marking*/
.castleNorth {
    -fx-background-color: transparent;
    -fx-border-color: #ffee00;
    -fx-border-style: solid;
    -fx-border-width: 2px 0 0 0;
}

.castleEast {
    -fx-background-color: transparent;
    -fx-border-color: #ffee00;
    -fx-border-style: solid;
    -fx-border-width: 0 2px 0 0;
}

.castleSouth {
    -fx-background-color: transparent;
    -fx-border-color: #ffee00;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
}

.castleWest {
    -fx-background-color: transparent;
    -fx-border-color: #ffee00;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2px;
}

/* tile when hovered*/
.tileHighlight {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

/* tiles accessible from the hovered tile*/
.tileAccessible {
    -fx-background-color: transparent;
    -fx-border-color: #FFD700;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

/* tiles in the path of selected army*/
.tilePath {
    -fx-background-color: transparent;
    -fx-border-color: #ff00ff;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

/* currently selected tile*/
.tileSelected {
    -fx-background-color: transparent;
    -fx-border-color: #ff0000;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}